{% extends "courses/base.html" %}

{% block title %}Contato{% endblock title %}

{% block content %}
<div class="container mt-4">
    <div class="mb-2 pt-1 pb-4 list-courses">
        <div class="bar-title-list-courses"></div>
        <h4 class="title-list-courses">Entre em Contato</h4>
    </div>

    <div class="row mb-5 pt-5 pb-5 p-2 shadow">
        <div class="col-md-5">
            <h3 class="mb-3 title-list-courses">Nosso Endereço</h3>
            <p>
                <strong>Nome da Empresa</strong><br>
                Rua Exemplo, 123 <br>
                Bairro, Cidade, Estado<br>
                CEP: 12345-678<br>
                Telefone: (00) 9 9999-9999<br>
                E-mail: teste@teste.com<br>
            </p>
            <p>
                <strong>Horário de Funcionamento</strong><br>
                Segunda a Sexta: 9h às 18h<br>
                Sábado: 9h às 13h<br>
                Domingo: Fechado<br>
            </p>
        </div>

        <div class="col-md-7">
            <h3 class="mb-3 title-list-courses">Envie uma menssagem</h3>

            {% include "courses/messages.html" %}

            <form method="post">
                {% csrf_token %}

                {{ form.as_p}}

                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
