{% load static %}
<footer class="py-3 border-top mt-auto bg-nav mt-auto" data-bs-theme="dark">
    <div class="container d-flex flex-wrap justify-content-between align-items-center">
        <div class="col-md-4 d-flex align-items-center">
            <a href="{% url 'home' %}" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" aria-label="Bootstrap">
                <img src="{% static 'img/logo.png' %}" alt="Cursos" style="width: 50px;" class="bi">
            </a>
            <span class="mb-3 mb-md-0 text-body-secondary">&copy; {% now "Y" %} Cursos</span>
        </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3">
                <a class="text-body-secondary" href="#" aria-label="twitter" target="_blank">
                    <i class="bi bi-twitter-x" width="24" height="24"></i>
                </a>
            </li>
            <li class="ms-3">
                <a class="text-body-secondary" href="#" aria-label="Instagram" target="_blank">
                    <i class="bi bi-instagram" width="24" height="24"></i>
                </a>
            </li>
            <li class="ms-3">
                <a class="text-body-secondary" href="#" aria-label="Facebook" target="_blank">
                    <i class="bi bi-facebook" width="24" height="24"></i>
                </a>
            </li>
        </ul>
    </div>
</footer>
